.percobaan {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}
.percobaan [title="Percobaan1"] {
  background-color: lightgreen;
  margin: 0px;
  padding: 0px;
  height: 100px;
}
.percobaan [title="Percobaan2"] {
  background-color: lightcoral;
  margin: 0px;
  padding: 0px;
  height: 100px;
}
.percobaan p {
  margin: 0px;
  padding: 10px;
}
.percobaan1 {
  background-color: blue;
}
.percobaan2 {
  width: 200px;
  background-color: red;
}
.padding {
  margin: 0px;
  padding: 0px;
  background-color: red;
}
.Percobaan1 {
  background-color: blue;
  width: 200px;
  color: white;
}
.Percobaan2 {
  background-color: rgb(0, 255, 98);
  width: 200px;
  color: white;
}
.padding1 {
  background-color: blueviolet;
  padding: 0px;
  border: 5px solid black;
}
.padding2 {
  background-color: coral;
  padding: 20px;
  border: 5px solid black;
}
.margin {
  margin: 0px;
  padding: 0px;
  background-color: yellow;
}
.margin .Percobaan1 {
  background-color: blue;
  width: 200px;
  height: 200px;
  color: white;
}
.margin .Percobaan2 {
  background-color: rgb(0, 255, 98);
  width: 200px;
  height: 200px;
  color: white;
}
.margin1 {
  background-color: gray;
  color: white;
  border: 5px solid black;
}
.margin2 {
  background-color: lightgray;
  color: black;
  margin: 20px;
  border: 5px solid black;
}
