.percobaan {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}
.percobaan [title="Percobaan1"] {
  background-color: lightgreen;
  margin: 0px;
  padding: 0px;
  height: 100px;
}
.percobaan [title="Percobaan2"] {
  background-color: lightcoral;
  margin: 0px;
  padding: 0px;
  height: 100px;
}
.percobaan p {
  margin: 0px;
  padding: 10px;
}
.percobaan1 {
  background-color: blue;
}
.percobaan2 {
  width: 200px;
  background-color: red;
}
